# ignore most things, include some others
/*
/.*

!/templates
!/dot-github
!/package.json
!/package-lock.json
!/README.md
!/LICENSE.md
!/scripts
!/.gitignore
!/.github
!/.prettierignore

!/.gitattributes
!/index.ts
!/bin.js
